{% extends 'master.html' %}
{% block title %}OTS-Registration Form{% endblock %}
{% block top %}
<a href="{% url 'OTS_APP:login' %}">Login</a>
{% endblock %}
{% block content %}
  <div class="all-forms">
    <form action="{% url 'OTS_APP:Registration' %}" method="post">
        {% csrf_token %}
        <label for="username">USERNAME:</label>
        <input type="text" name="username">
        <label for="name">NAME:</label>
        <input type="text" name="name">
        <label for="password">PASSWORD:</label>
        <input type="password" name="password">

        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </form>

  </div>
{% endblock %}